<?xml version="1.0"?>
<robot name="myfirst">
  <link name="base_footprint">
  </link>
  <link name="base_link">
    <visual>
      <geometry>
        <box size=".124 .154 .190"/>
      </geometry>
      <material name="">
        <color rgba="0.7 0.0 0.0 0.9"/>
      </material>
    </visual>
  </link>
  <link name="camera">
    <visual>
      <geometry>
        <cylinder length="0.05" radius="0.02"/>
      </geometry>
      <material name="">
        <color rgba="0.0 0.0 0.7 0.9"/>
      </material>
    </visual>
  </link>
  <joint name="base_to_camera" type="fixed">
    <origin xyz="0.06 0.0 0.095" rpy="0.0 1.6 0.0"/>
    <parent link="base_link"/>
    <child link="camera"/>
  </joint>
  <joint name="base_to_link" type="fixed">
    <origin xyz="0.0 0.0 0.095" rpy="0.0 0.0 0.0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>
</robot>
